.error-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    p {
        border: 1px solid #d0d7de;
        border-radius: 6px;
        color: #f34b7d;
        font-weight: 600;
        margin: 0;
        padding: 0.5rem;
        text-align: center;
        width: 35%;
        @media screen and (max-width: 1441px) {
            width: 50%;
        }
        @media screen and (max-width: 1300px) {
            width: 60%;
        }
        @media screen and (max-width: 1080px) {
            width: 80%;
        }
        @media screen and (max-width: 460px) {
            width: 90%;
        }
    }
}